h1,
h2,
a,
h3,
h4,
#scroll,
.tagline,
#about
{
	font-family: 'Oswald';
	font-weight: 300;
}
p,
.info
{
	color: #fff;
	font-family: 'Open Sans';
}
a{
	color: #000;
}
h2, h3, h4  {
	color: #231f20 ;
	text-transform: uppercase;
}
p {
	color: #000;
	font-size: 18px;
	line-height: 30px;
	padding: 0px 10px;
}
button {
	margin: auto;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: inherit;
	font-weight: 400;
	line-height: 1;
	margin: 1em 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 13px;
	font-size: 1em;
	background-color: transparent;
	border-color: #ffb03b;
	color:#FFB03B;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;
}
button:hover, button > a:hover{
	color:#FFB03B;
	background-color: #fff5ee;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
li:hover, a:hover {
	text-decoration: none;
	color:#FFB03B;
}
div.links {
	height: 300px;
	margin-top: -150px;
	position: relative;
	top: 50%;
}
div.links> ul {
	-webkit-padding-start: 0;
	width: auto;
	margin: auto;
	text-align: center;
}
div.links > ul > li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	margin-left: 60px;
	vertical-align: middle;
}
div.links > ul > li:first-child {
	margin-left: 0px;
}
div.links > ul > li > a {
	display: inline-block;
	text-transform: uppercase;
	padding: 2px 0px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	letter-spacing: 2px;
	color: #fff;
	line-height: 1.4;
}
.navbar-nav {
	float: none;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}
.navbar-fixed-top {
	top: 30px;
	-webkit-transition: all 4s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
	 box-shadow: 2px 2px 2px #ccc;
}
.navbar-nav > li {
	margin: 0 15px;
	vertical-align: middle;
	height: 50px;
}
.navbar-nav .logo {
	height: 100px;
	position: relative;
	margin-top: -25px;
	top: 0%;
	width: 165px;
	background: url('../images/newlogo.png') no-repeat;
	background-size: contain;
	border: none;

}
.navbar-nav > li > a {
	text-transform: uppercase;
	padding: 2px 0px;
	text-decoration: overline underline;
	letter-spacing: 2px;
	color: #000;
	line-height: 50px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #FFB03B;
}
.container {
	margin: 0;
	width: 100%;
	height: 100%;
}
.container-fluid {
	width: 100%;
	display: block;
	padding: 0;
	text-align: center;
}
#home {
	background: url('../images/wood.jpg') repeat-x;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}
.center {
	display: inline-block;
	margin: auto;
}
#scroll {
	font-size: 20px;
	margin-top: 40px;
	text-align: center;	
}
.profile {
	display: inline-block;
	margin: auto;
	width: 100%;
	vertical-align: top;
	text-align: left;	
}
.avatar {
	display: inline-block;
}
.avatar img {
	border: 3px solid #000;
	border-radius: 50%;
}
.bio {
	display: inline-block;
}
#about, #team {
	height: 500px;
	position: relative;
}
#about:after, #team:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    width: 100%;
    height: 500px;
    background: url('../images/toronto-skyline.jpg') no-repeat fixed;
    background-size: cover	;
    filter: blur(4px);
    -o-filter:blur(4px);
	-ms-filter:blur(4px);
	-moz-filter:blur(4px);
	-webkit-filter:blur(4px);
	z-index: -1;
	opacity: 0.4;
 }
#team:after{
    background: url('../images/ocean.jpg') no-repeat fixed;
    background-size: cover;
 }
 .content{
 	padding-top: 20px;
 	margin: 50px 50px 20px 50px;
 }
 #team > .content {
 	height: 100%;
 	background-size: cover;
 	margin: 0;
 	background-color: rgba(138,95,32,0.2);
 	padding: 30px 50px;
 }
 #charlotte {
 	text-align: left;
 }
 #noorain {
 	text-align: right;
 }
 #blurb {
 	margin-top: 30px;
 }
.box {
	width: 200px;
	height: 100px;
	background-color: rgba(138,95,32,0.1);
	float: left;
	margin: 30px 15px;
	border-top: 3px solid #b64926;
	border-bottom: 3px solid #b64926;
}
.box h4 {
	line-height: 100px;
	margin: 0;
}
form {
	text-align: center;
	margin-bottom: 0;
	background-color: rgba(138,95,32,0.1);
	padding: 20px;
}
form > input {
	width: 300px;
	margin-top: 10px;
}